In [26]:
import pandas as pd 
url = "https://gist.githubusercontent.com/guilhermesilveira/b9dd8e4b62b9e22ebcb9c8e89c271de4/raw/c69ec4b708fba03c445397b6a361db4345c83d7a/tracking.csv"
df = pd.read_csv(url)

df.head()

   inicial  palestras  contato  comprou  patrocinio
0        1          1        0        0           0
1        1          1        0        0           0
2        1          1        0        0           0
3        1          1        0        0           0
4        1          1        0        0           0

In [27]:
y = df['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [ ]:
x = df[['inicial',	'palestras',	'contato',	'patrocinio']]
x.head()

   inicial  palestras  contato  patrocinio
0        1          1        0           0
1        1          1        0           0
2        1          1        0           0
3        1          1        0           0
4        1          1        0           0

In [29]:
df.shape  # 99 linhas e 5 colunas

(99, 5)

In [30]:
train_x = x[:75]
train_y = y[:75]

test_x = x[75:]
test_y = y[75:]

print(f"Treinaremos com {len(train_x)} elementos")
print(f"Testaremos com {len(test_x)} elementos")

Treinaremos com 75 elementos
Testaremos com 24 elementos

In [31]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(train_x, train_y)

prediction = model.predict(test_x)

accuracy = accuracy_score(test_y, prediction) * 100
print(f"A acur치cia foi de {accuracy:.2f}%")

A acur치cia foi de 95.83%

Usando biblioteca para separar treino e teste

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = SEED, stratify=y)

print(f"Treinaremos com {len(train_x)} elementos")
print(f"Testaremos com {len(test_x)} elementos")

model = LinearSVC()
model.fit(train_x, train_y)
accuracy = accuracy_score(test_y, model.predict(test_x)) * 100
print(f"A acur치cia foi de {accuracy:.2f}%")

Treinaremos com 74 elementos
Testaremos com 25 elementos
A acur치cia foi de 96.00%

In [33]:
train_y.value_counts()

comprou
0    49
1    25
Name: count, dtype: int64

In [34]:
test_y.value_counts()

comprou
0    17
1     8
Name: count, dtype: int64